<!doctype html>
<head>
  <meta charset="utf-8">

  <title>My Parse App</title>
  <meta name="description" content="My Parse App">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/styles.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.7.min.js"></script>
  <script type="text/javascript" src="js/underscore-1.1.6.js"></script>
  <script type="text/javascript" src="js/bhtb.js"></script>
</head>

<body>


    <!-- BHTB App Interface -->

    <div id="bhtb">
      <div class="title">
        <h1>Bring Home the Bacon</h1>
      </div>

      <div class="content">
      </div>
    </div>

    <div id="credits">
      Powered by <a href="https://www.parse.com">Parse</a> using the <a href="https://www.parse.com/docs/js_guide">JavaScript SDK</a>
    </div>

    <!-- Templates -->  
    <script type="text/template" id="login-template">
      <header id="header"></header>
      <div class="login">
        <form class="login-form">
          <h2>Log In</h2>
          <div class="error" style="display:none"></div>
          <input type="text" id="login-username" placeholder="Username" />
          <input type="password" id="login-password" placeholder="Password" />
          <button>Log In</button>
        </form>

        <form class="signup-form">
          <h2>Sign Up</h2>
          <div class="error" style="display:none"></div>
          <input type="text" id="signup-username" placeholder="Username" />
          <input type="password" id="signup-password" placeholder="Create a Password" />
          <button>Sign Up</button>
        </form>
      </div>
    </script>

    <script type="text/template" id="view-list-template">      
    <li>
      <%= store %>
    </li>
    </script>

    <script type="text/template" id="manage-lists-template">      
    <header id="header">Lists
    </header>
      <ul id="lists">
      </ul>
    </script>


    <script type="text/template" id="edit-lists-template">      
    <header id="header">Edit List
    </header>
    <form class="edit-list-form">
      <h2><%=action %> List</h2>
          <div class="error" style="display:none"></div>
          <input type="text" id="list-store" placeholder="Store" value="<%= store %>"/>
          <button><%=action %> List</button>
    </form>
    </script>



</body>

</html>
